/* Title */
.content-wrapper {
  position: relative;
  align-self: center;
  z-index: 2;
}
.content-hello {
  display: flex;
  flex-direction: row;
  user-select: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}
.content-hello1 {
  opacity: 0;
  animation: content_hello 4.5s ease 230ms;
}
.content-hello2 {
  opacity: 0;
  animation: content_hello 4.5s ease 260ms;
}
.content-hello3 {
  opacity: 0;
  animation: content_hello 4.5s ease 290ms;
}
.content-hello4 {
  opacity: 0;
  animation: content_hello 4.5s ease 320ms;
}
.content-hello5 {
  opacity: 0;
  animation: content_hello 4.5s ease 350ms;
}
@keyframes content_hello {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  10% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(-300px);
    opacity: 0;
  }
}
.content-hello h1 {
  font-family: 'RobotoTh', sans-serif;
  font-size: 210px;
  font-weight: 10;
}
.content-1 {
}
.content-1 {
}
.content-1 {
}
/* Title */
/* About */
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-image img {
  object-fit: cover;
  overflow: hidden;
  filter: brightness(60%);
  width: 10em;
  height: 10em;
  border-radius: 50%;
}
.about-title {
  font-size: 36px;
  padding-top: 25px;
}
/* About  */
/* Youtube */

/* Youtube */
/* Highlight */
.slider-section {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 6vh;
  height: 48vh;
  width: 100%;
  border-radius: 12px;
  animation: ambient 24s infinite;
}
.slider {
  display: flex;
  height: 100%;
  animation: slide 24s infinite;
}
.slider-img {
  object-fit: cover;
  filter: brightness(30%);
  min-width: 100%;
}
.slider-title span {
  position: absolute;
  color: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-title span::before {
  content: "";
  animation: text 24s infinite;
}
@keyframes text {
  0% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  3.75% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  25% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  28.75% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  50% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  53.75% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  65% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  75% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
  78.75% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  13% {
    transform: translate(0);
  }
  26% {
    transform: translate(-100%);
  }
  39% {
    transform: translate(-100%);
  }
  52% {
    transform: translate(-200%);
  }
  65% {
    transform: translate(-200%);
  }
  78% {
    transform: translate(-300%);
  }
  90% {
    transform: translate(-300%);
  }
  100% {
    transform: translate(0);
  }
}
/* Highlight */











/* Responsive CSS */
@media (max-width: 800px){
  .slider-section {
    height: 40vw;
  }
  .slider-title span {
    font-size: 20px;
  }
}
/* Responsive CSS */