/* Config */
:root {
  --primary: #fff;
  --secondary: #e91e63;
  --bg: #000;
  --secondary-bg: #0f0f0f;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  margin: 0;
  padding: 0;
}
img, video, picture, svg {
  display: block;
  user-select: none;
}
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
}
.seperator {
  height: 160px;
}
.content-container {
  margin: auto;
  max-width: 120em;
}
/* Config */
/* About */
.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 6em;
  margin: 0 20%;
}
.about-image img {
  object-fit: cover;
  overflow: hidden;
  filter: brightness(60%);
  width: 20em;
  height: 28em;
}
.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  max-width: 500px;
}
.about-title {
  font-size: 52px;
}
.about-job {
  font-size: 26px;
}
.about-job span {
  color: var(--secondary);
}
.about-desc {
  color: var(--primary);
  font-size: 18px;
}
/* About  */
/* Education, Work, Organization & Skill*/
.education-section, 
.work-section, 
.organization-section,
.skills-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  padding: 0 160px;
}
.education-img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 120px;
  transform: rotate(340deg);
}
.work-img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 120px;
}
.organization-img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 120px;
}
.skills-img {
  max-height: 250px;
  max-width: 250px;
  margin-right: 120px;
}
.education-container, 
.work-container, 
.organization-container, 
.skills-container {
  justify-content: center;
  width: 40%;
}
.education-title, 
.work-title, 
.organization-title, 
.skills-title {
  position: relative;
  font-size: 46px;
  padding-bottom: 30px;
  letter-spacing: .15em;
  text-shadow: -4px -4px 0px #ff0080,
                4px 4px 0px #00f7ff;
}
.education-content, 
.work-content, 
.organization-content, 
.skills-content { 
  display: grid;
  cursor: pointer;
  grid-template-columns: 6fr 4fr 1fr;
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  width: 100%;
  padding: 15px 0;
  padding-bottom: 20px;
  border-top: 2px solid var(--primary);
}
.education-year, 
.work-year, 
.organization-year,
.skills-year {
  text-align: center;
}
.education-number, 
.work-number, 
.organization-number,
.skills-number {
  text-align: right;
}
.education-container:hover .education-content, 
.work-container:hover .work-content, 
.organization-container:hover .organization-content,
.skills-container:hover .skills-content {
  filter: blur(4px);
  transition: 0.5s;
}
.education-container .education-content:hover, 
.work-container .work-content:hover, 
.organization-container .organization-content:hover, 
.skills-container .skills-content:hover {
  filter: blur(0);
  transition: 0.5s;
}
@media (orientation: portrait) {
  .education-section, 
  .work-section, 
  .organization-section,
  .skills-section {
    padding: 0 10px;
  }
  .education-img {
    transform: rotate(340deg);
  }  
  .education-container, 
  .work-container, 
  .organization-container, 
  .skills-container {
    justify-content: center;
    width: 80%;
  }
  .education-title, 
  .work-title, 
  .organization-title, 
  .skills-title {
    position: relative;
    font-size: 26px;
    padding-bottom: 20px;
    letter-spacing: .15em;
    text-shadow: -4px -6px 0px #ff0080,
                  4px 4px 0px #00f7ff;
  }
  .education-content, 
  .work-content, 
  .organization-content, 
  .skills-content {
    font-size: 12px;
    line-height: 16px;
  }
}
/* Education, Work, Organization & Skill*/
/* Journey */
.timeline-section {
  padding: 80px 160px;
}
.timeline-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-title div {
  position: relative;
}
.timeline-title div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: var(--secondary);
  animation: blink-cursor 0.8s steps(15) infinite;
}
.timeline-title h2 {
  position: relative;
  overflow: hidden;
  font-size: 46px;
  letter-spacing: .15em;
  animation: typing 8s steps(12) infinite;
}
@keyframes typing {
  0%, 90%, 100% {
     width: 0;
    }
  30%, 60% {
     width: 429.52px;
    }
}
@keyframes blink-cursor {
  0%, 75% {
    opacity: 1;
  }
  76%, 100% {
    opacity: 0;
  }
}
.timeline{
  position: relative;
  margin: 80px auto;
  width: 1000px;
  padding: 50px 0;
}
.timeline-bg1 {
  display: inline;
  position: relative;
  top: 50px;
  left: 120px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 70px 50px #47ffa3;
  animation: fadeIn 4s infinite;
}
.timeline-bg2 {
  display: inline;
  position: relative;
  top: 400px;
  left: 800px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 70px 60px #c96dff;
  animation: fadeIn 7s infinite;
}
.timeline-bg3 {
  display: inline;
  position: relative;
  top: 800px;
  left: 80px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 60px 50px #6b9cff;
  animation: fadeIn 11s infinite;
}
.timeline-bg4 {
  display: inline;
  position: relative;
  top: -100px;
  left: 900px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 70px 60px #eb9c43;
  animation: fadeIn 13s infinite;
}
.timeline:before {
  position: absolute;
  content: '';
  height: 100%;
  left: 50%;
  width: 2px;
  top: -20px;
  background: var(--primary);
  z-index: 1;
}
.timeline ul li {
  list-style: none;
  box-sizing: border-box; 
  line-height: normal;
  position: relative;
  width: 50%;
  margin: 40px 0;
  padding: 40px 50px;
}
.timeline ul li .timeline-right h2 {
  color: var(--secondary);
  padding: 0px 2px 10px 0px;
}
.timeline ul li:nth-child(odd) {
  float: left;
  text-align: right;
  clear: both;
}
.timeline ul li:nth-child(even) {
  float: right;
  text-align: left;
  clear: both;
}
.timeline ul li:nth-child(odd):before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e91e6242;
  right: -6px;
  top: 50px;
  z-index: 1;
}
.timeline ul li:nth-child(even):before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background: var(--secondary);
  border-radius: 50%;
  box-shadow: 0 0 0 3px #e91e6242;
  left: -3px;
  top: 50px;
  z-index: 1;
}
.timeline ul li:nth-child(odd) .timeline-left {
  position: absolute;
  top: 38px;
  right: -270px;
  padding: 8px 20px;
  color: var(--primary);
  background-color: var(--secondary);
  box-shadow: 0 0 0 3px #e91e6242;
}
.timeline ul li:nth-child(even) .timeline-left {
  position: absolute;
  top: 38px;
  left: -270px;
  padding: 10px 20px;
  color: var(--primary);
  background-color: var(--secondary);
}
/* Journey */
/* Highlight */
.slider-section {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 600px;
  width: 100%;
  font-size: 70px;
  animation: ambient 24s infinite;
}
.slider {
  display: flex;
  height: 100%;
  animation: slide 24s infinite;
}
.slider-img {
  object-fit: cover;
  filter: brightness(30%);
  min-width: 100%;
}
.slider-title span {
  position: absolute;
  color: var(--primary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-title span::before {
  content: "";
  animation: text 24s infinite;
}
@keyframes text {
  0% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  3.75% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  25% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  28.75% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  50% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  53.75% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  65% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  75% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
  78.75% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  13% {
    transform: translate(0);
  }
  26% {
    transform: translate(-100%);
  }
  39% {
    transform: translate(-100%);
  }
  52% {
    transform: translate(-200%);
  }
  65% {
    transform: translate(-200%);
  }
  78% {
    transform: translate(-300%);
  }
  90% {
    transform: translate(-300%);
  }
  100% {
    transform: translate(0);
  }
}
/* Highlight */
/* Achievements */
.achievements-section {
  user-select: none;
  padding: 50px;
}
.achievements-title {
  text-align: center;
  font-size: 46px;
}
.achievements-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.achievements-col {
  display: flex;
  flex-direction: column;
  margin: 60px 20px;
  padding: 30px;
  border-radius: 15px;
}
.achievements-col h1 {
  text-align: center;
}
.achievements-row {
  width: 400px;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background: #fff;
}
.achievements-col:nth-child(1) h4 {
  text-align: center;
  color: #ffbc64;
}
.achievements-col:nth-child(2) h4 {
  text-align: center;
  color: #5fb2ff;
}
.achievements-col:nth-child(3) h4 {
  text-align: center;
  color: #a764ff;
}
.achievements-col:nth-child(1) {
  background: #ffbc64;
}
.achievements-col:nth-child(2) {
  background: #5fb2ff;
}
.achievements-col:nth-child(3) {
  background: #a764ff;
}
/* Achievements */

/* Journey Responsive */
@media (max-width: 1000px){
  .timeline{
    width: 100%;
  }
}
@media (max-width: 767px){
  .timeline{
    width: 100%;
  }
  .timeline:before{
    left: 40px;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even) {
    text-align: left;
    width: 100%;
    padding-left: 80px; 
  }
  .timeline ul li:nth-child(odd):before {
    top: -18px;
    left: 36px;
  }
  .timeline ul li:nth-child(even):before { 
    top: -18px;
    left: 36px;
  }
  .timeline ul li:nth-child(odd) .left_content,
  .timeline ul li:nth-child(even) .left_content {
    top: -30px;
    left: 80px;
    right: inherit;
  }
}
/* Journey Responsive */
@media (orientation: portrait) {
  .slider-container {
    height: 40vh;
    font-size: 60px;
  }
}
/* End of Responsive CSS */

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 8px 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c91651;
}
/* Scrollbar */