/* Config */
:root {
  --primary: #fff;
  --bg: #000;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img, video, picture, svg {
  display: block;
  user-select: none;
}
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
}
.seperator {
  height: 80px;
}
.content-container {
  display: none;
  flex-direction: column;
  align-items: center;
  max-width: 120em;
}
/* Config */

/* Timeline */
.timeline-header {
  text-align: center;
  font-size: 80px;
  width: 100%;
  padding: 80px;
}
.timeline-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
  width: 85%;
  gap: 5%;
  max-width: 1600px;
}
.timeline-title {
  text-align: center;
  font-size: 60px;
}
.timeline-content { 
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1200px;
  padding: 15px 0;
  padding-bottom: 20px;
  border-bottom: 1.5px solid var(--primary);
}
.timeline-year {
  text-align: left;
  font-size: 14px;
  padding: 8px 0;
}
.timeline-heading {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}
.timeline-desc {
  text-align: justify;
  font-size: 16px;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .timeline-content,
  .skills-content { 
    grid-template-columns: 1fr;
  }
}
@media (orientation: portrait) {
  .timeline-section {
    padding: 0 10px;
  }

  .timeline-title {
    font-size: 40px
  }
  .timeline-content {
    font-size: 12px;
    line-height: 16px;
  }
}
/* Timeline & Skill*/

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 8px 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}
/* Scrollbar */