/* Config */
:root {
  --primary: #fff;
  --secondary: #fe019a;
  --bg: #000;
  --secondary-bg: #121212;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
img, video, picture, svg {
  display: block;
  user-select: none;
}
html {
  color-scheme: dark light;
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg);
}
.content-container {
  display: none;
  margin: auto;
  max-width: 120em;
}
/* Config */
/* Project */
.project-section {
  
}
h1 {
  text-align: center;
  font-size: 120px;
  width: 100%;
  padding: 50px;
  text-shadow: -4px -4px 0px #ff0080,
                4px 4px 0px #00f7ff;
}
.project-row {

}
.project-col {
  
}




/* Project */

/* Scrollbar */
::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 8px 0;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #c91651;
}
/* Scrollbar */