/* Work */
.work-header {
  text-align: center;
  font-size: 80px;
  width: 100%;
}
.work-section {
  width: 100%;
}
.work-container {
  user-select: none;
  width: 100%;
  gap: 5%;
}
.work-content { 
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  padding: 15px 0;
  padding-bottom: 20px;
  border-bottom: 1.5px solid var(--primary);
}
.work-year {
  text-align: left;
  font-size: 14px;
  padding: 8px 0;
}
.work-heading {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}
.work-desc {
  text-align: justify;
  font-size: 16px;
  line-height: 26px;
  padding: 20px 0;
}
.work-img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  filter: brightness(70%);
}
@media (max-width: 1350px) {
  .work-section {
    gap: 2%;
  }
  .work-title {
    font-size: 24px;
  }
  .work-container {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .work-header {
    font-size: 60px;
    padding: 80px 0;
  }
  .work-title {
    font-size: 32px;
    width: 100%;
  }
  .work-section {
    flex-direction: column;
    gap: 0;
  }
  .work-container {
    width: 100%;
  }
  .work-desc {
    padding: 20px 0;
  }
}
/* Work */