/* Body Section */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #121212;
  width: 100%;
}
.seperator {
  height: 200px;
}
/* End of Body */
/**/
/* Navigation Section - Production */
.nav-container {
  display: flex;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 0;
  height: 65px;
  width: 100%;
  padding: 0 5%;
  z-index: 39;
  background-color: #161819;
}
.logo {
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}
.nav-menu {
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-menu a {
  position: relative;
  text-decoration: none;
  font-size: 14.5px;
  color: #d4d4d4;
  margin: 0 18px;
  padding: 5px 5px;
}
.nav-menu a:after {
  position: absolute;
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 1.4px;
  width: 0;
  left: 50%;
  bottom: 0;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-menu a:hover {
  color: #ffffff;
}
.nav-link a:hover:after {
  cursor: pointer;
  width: 100%;
  left: 0;
}
/* End of Navigation Section */
/**/
.content-container {
  height: 5000px;
}
/**/
/* Greeting Section - Production */
.greeting {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  padding: 0;
  font-size: 80px;
}
.greeting-wrapper {
  display: inline-block;
  text-align: center;
  font-family: "roboto", sans-serif;
  color: #fff;
  animation: fadeIn 1.5s forwards;
  transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.greeting-1 {
  display: inline-block;
  animation: fadeIn 0.8s,
    firstspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.greeting-2 {
  display: inline-block;
  z-index: -1;
  margin: 20px;
  background: linear-gradient(to right, #00ff9d 0%, #0051ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fadeIn 0.8s,
    secondspan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86),
    bounce 0.4s ease infinite alternate;
  animation-delay: 0s, 0s, 2s;
}
.slide {
  display: inline-flex;
  overflow: hidden;
}
.greeting-bg1 {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 120px 70px #39da8a;
  animation: fadeIn 4s infinite;
}
.greeting-bg2 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 140px 90px #ac5cd9;
  animation: fadeIn 9s infinite;
}
.greeting-bg3 {
  position: absolute;
  top: 90%;
  left: 97%;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 180px 160px #5b8dee;
  animation: fadeIn 7s infinite;
}
.greeting-bg4{
  position: absolute;
  overflow: hidden;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.greeting-bg4 li{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: #ffffff49;
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.greeting-bg4 li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.greeting-bg4 li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.greeting-bg4 li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.greeting-bg4 li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.greeting-bg4 li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.greeting-bg4 li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.greeting-bg4 li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.greeting-bg4 li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.greeting-bg4 li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.greeting-bg4 li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
@keyframes bounce {
  0% {
  }
  100% {
    background: linear-gradient(to right, #5bffc0 0%, #407cff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translateY(-20px);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes firstspan {
  0% {
    transform: translateX(50%);
  }
  60% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes secondspan {
  0% {
    transform: translateX(-100%);
  }
  60% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
/* End of Greeting Section */
/**/
/* Highlight Section */
.slider-container {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 70vh;
  width: 100%;
  font-size: 70px;
  animation: ambient 24s infinite;
}
.slider {
  display: flex;
  height: 100%;
  animation: slide 24s infinite;
}
.slider-img {
  object-fit: cover;
  filter: brightness(30%);
  min-width: 100%;
}
.slider-title span {
  position: absolute;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-title span::before {
  content: "";
  animation: text 24s infinite;
}
@keyframes ambient {
  0% {
    box-shadow: 0 0 80px #2b0815, 0 0 160px #434343;
  }
  13% {
    box-shadow: 0 0 80px #2b0815, 0 0 160px #434343;
  }
  26% {
    box-shadow: 0 0 80px #434343, 0 0 160px #2b0815;
  }
  39% {
    box-shadow: 0 0 80px #434343, 0 0 160px #2b0815;
  }
  52% {
    box-shadow: 0 0 40px #434343, 0 0 160px #2b0815;
  }
  65% {
    box-shadow: 0 0 40px #434343, 0 0 160px #2b0815;
  }
  78% {
    box-shadow: 0 0 40px #00000033, 0 0 160px #9696964d;
  }
  90% {
    box-shadow: 0 0 40px #00000033, 0 0 160px #9696964d;
  }
  100% {
    box-shadow: 0 0 80px #2b0815, 0 0 160px #434343;
  }
}
@keyframes text {
  0% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  3.75% {
    opacity: 1;
  }
  12.5% {
    opacity: 1;
  }
  15% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  25% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  28.75% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    content: "D-SPORA 2022";
  }
  50% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  53.75% {
    opacity: 1;
  }
  62.5% {
    opacity: 1;
  }
  65% {
    opacity: 0;
    content: "Leadership Camp 2022";
  }
  75% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
  78.75% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    content: "Kidsstar 18th Birthday";
  }
}
@keyframes slide {
  0% {
    transform: translate(0);
  }
  13% {
    transform: translate(0);
  }
  26% {
    transform: translate(-100%);
  }
  39% {
    transform: translate(-100%);
  }
  52% {
    transform: translate(-200%);
  }
  65% {
    transform: translate(-200%);
  }
  78% {
    transform: translate(-300%);
  }
  90% {
    transform: translate(-300%);
  }
  100% {
    transform: translate(0);
  }
}
/* End of Highlight Section */
/**/
/* Journey Section */
.wid-wrapper {
  margin: 80px;
}
.wid-title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}
.wid-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.wid-particle {
  position: relative;
  overflow: hidden;
  flex: 1;
  height: 400px;
  margin: 20px;
  background-color: #2d30416c;
  border-radius: 12px;
  backdrop-filter: blur(16px) saturate(131%);
  -webkit-backdrop-filter: blur(16px) saturate(131%);
}
.wid-particle .details {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  color: #fff;
  width: 100%;
  height: 100%;
}
.wid-particle .details h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 300;
  margin-top: 70px;
  transition: 0.4s;
  transition-property: transform;
}
.wid-particle:hover .details h2 {
  transform: translateY(-30px);
}
.wid-particle .details p {
  margin: 30px 30px 0 30px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  transition: 0.6s;
  transition-property: opacity, transform;
}
.wid-particle:hover .details p {
  opacity: 1;
  transform: translateY(-40px);
}
/* End of Journey Section */
/**/
/* About Section */
.cv {
  text-align: center;
}
.cv-title {
  font-size: 100px;
}
.cv-name {
}
.cv-desc {
}
/* End of About Section */
/**/
/* Footer Section */
footer {
  white-space: nowrap;
  padding: 0;
  background-color: #161819;
}
.f-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 300px;
  margin: 0 16% 0 16%;
}
.f-social,
.f-navigation,
.f-contact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 80px 10% 0 10%;
}
.f-text {
  text-decoration: none;
  align-self: start;
  font-family: "Roboto Condensed";
  color: #ffffff;
  font-size: 18px;
}
.f-title {
  align-self: start;
  font-size: 20px;
  margin: 6px 0;
}
.f-contact-group {
  display: flex;
  margin: 4px 0;
  gap: 10px;
}
.f-social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20%;
  margin-right: 18%;
}
.f-copyright {
  text-align: center;
  height: 45px;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #d4d4d4;
  padding: 15px 0 15px 0;
}
/* End of Footer Section */
/**/
/* Responsive CSS */
@media (orientation: portrait) {
  .greeting {
    height: 40vh;
    font-size: 70px;
  }
  .slider-container {
    height: 40vh;
    font-size: 60px;
  }
}
@media (max-width: 2028px) {
  .wid-particle {
    flex: 100%;
    height: 500px;
    max-width: 360px;
  }
}
/* End of Responsive CSS */
/**/
/* Scrollbar Section */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
  margin: 8px 0;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
/* End of Scrollbar Section */
