/* Config Section - Production */
:root {
  --primary: #fff;
  --secondary: #e91e63;
  --bg: #000;
  --secondary-bg: #0f0f0f;
}
/* End of Config */
/**/
/* Body Section */
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  font-family: "Montserrat", sans-serif;
  color: var(--primary);
  margin: 0;
  padding: 0;
}
img, video, picture, svg {
  display: block;
  user-select: none;
}
/* End of Body */